@media screen and (max-width: 1404px) {
  .property-details {
    grid-template-columns: 1fr 1fr;
  }
  .property-details .right-details {
    width: 100%;
  }
}
@media screen and (max-width: 1345px) {
  .about-services .service-box .inner-box {
    grid-template-columns: 200px auto 400px;
  }
}
@media screen and (max-width: 1326px) {
  .about-box {
    grid-template-columns: 400px 1fr 0.7fr;
    gap: 18px;
  }
  .project-inner-box .card {
    padding: 1.2rem;
    grid-template-rows: 300px auto;
  }
}
@media screen and (max-width: 1236px) {
  .about-services .service-box .inner-box {
    grid-template-columns: 150px auto;
  }
  .about-services .service-box .inner-box img {
    width: 450px;
  }
}
@media screen and (max-width: 1103px) {
  .header-box {
    grid-template-columns: 150px auto 150px;
  }
}
@media screen and (max-width: 1165px) {
  .section-contact .call-icon {
    flex-wrap: wrap;
    gap: 1rem;
  }
}
@media screen and (max-width: 1140px) {
  .about-box {
    grid-template-columns: 320px 1fr 0.7fr;
    gap: 16px;
  }
  .projects-show-box {
    padding: 0;
  }
  .project-inner-box {
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  .project-inner-box .card {
    padding: 1.2rem;
    grid-template-rows: auto;
  }
  .project-inner-box .card .img-box {
    height: 300px;
  }
  .section-faq-grid-box {
    gap: 32px;
  }
}
@media screen and (max-width: 1058px) {
  .hero-text .text-1 {
    left: -55px;
  }
  .hero-text .text-2 {
    right: -10px;
  }
  .section-hero .btm-text {
    width: 90%;
  }
  .left.direct-links {
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
  }
  .left.direct-links .box {
    width: 150px;
  }
  .right.news-letter {
    width: 100%;
    padding-left: 1.5rem;
  }
  .about-us-page .about-us-grid-box {
    gap: 1.5rem;
    grid-template-columns: 0.7fr 1;
  }
  .section-contact .about-contact-grid {
    gap: 1.9rem;
  }
  .section-contact .number-info {
    width: 200px;
  }
  .categories-grid-box {
    gap: 32px;
    padding: 32px;
  }
}
@media screen and (max-width: 1013px) {
  .header-box {
    grid-template-columns: 150px auto;
  }
  .header-btn a {
    display: none !important;
  }
  .hamburger {
    display: flex !important;
  }
  .nav-main {
    display: none;
  }
  .hero-text .text-1 {
    left: 0;
  }
  .hero-text .text-2 {
    right: 0;
  }
  .hero-text .text h1 {
    font-size: clamp(3rem, 7vw, 4rem);
  }
  .offcanvas-main {
    display: block;
  }
  .section-hero .btm-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    & p {
      font-size: clamp(14px, 3vw, 16px);
      text-align: center;
      width: 650px;
    }
    .hero-btn {
      justify-content: center;
      margin-top: clamp(16px, 2vw, 18px);
    }
  }
  .hero-image .img-box {
    height: 70vh;
  }
  .hero-image {
    height: 70vh;
  }
  .hero-fixed-img::after {
    background: linear-gradient(
      180deg,
      rgba(12, 12, 12, 0) 0%,
      rgba(12, 12, 12, 0.9) 70%,
      rgba(12, 12, 12, 1) 100%
    );
  }
  .hero-fixed-img .overlay .text {
    top: 60%;
    left: 0%;
  }

  .about-box {
    grid-template-columns: 350px 1fr;
    gap: 32px;
  }
  .about-box .mdl-img {
    height: 500px;
  }
  .about-side-extra-info-cards {
    display: none !important;
  }
  .section-trust .section-heading {
    max-width: 500px;
  }
  .section-trust .desc {
    max-width: 200px;
  }
  .section-trust .trust-num-grid-box {
    gap: 24px;
  }
  .property-details {
    grid-template-columns: 1fr;
  }
  .property-details .right-details {
    width: 100%;
  }
  .property-details-btn {
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 992px) {
  .about-services .sr-num {
    display: none;
  }
  .about-services .service-box .inner-box {
    grid-template-columns: 400px auto;
    gap: 1rem;
  }
  .about-services .service-box .inner-box img {
    position: relative;
    opacity: 1;
    scale: 1;
    order: 1;
    width: 100%;
    height: 250px;
    object-fit: cover;
    right: 0;
    top: 0;
  }
  .about-services .mid.text-info {
    order: 2;
    padding-left: clamp(0.7rem, 2vw, 1rem);
  }
  .about-services .tags ul {
    flex-wrap: wrap;
  }
  .section-faq-grid-box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .faq-heading p {
    display: none;
  }
  .faq-heading h2 {
    text-align: center;
  }
  .accordion-heading h6 {
    font-size: 18px;
  }
  .accordion-body p {
    font-size: 16px !important;
  }
  .property-images {
    height: 600px;
  }
}
@media screen and (max-width: 960px) {
  .recent-project-box .heading-box {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  .properties .heading-box {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .projects-show-box h5 {
    margin-block: 12px;
  }
  .splide__slide .user-msg-box {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    padding: 24px;
  }
  .mob-user-image {
    display: block;
  }
  .user-msg-box {
    gap: 18px;
  }
  .about-agents .agent {
    height: 480px;
  }
  .agent-social {
    width: fit-content;
    justify-content: start;
    margin-top: 0;
  }
  .categories-grid-box {
    gap: 0;
    padding: 0;
  }
  .categories-grid-box .category {
    height: auto;
  }
  .categories-grid-box .category .text-box {
    justify-content: space-between;
    gap: 1.4rem;
  }
  .categories-grid-box .category .btn {
    display: block;
  }
  .categories-grid-box .category {
    padding: 4rem 24px;
  }
  .categories-grid-box .category .ctg-img {
    display: none;
  }
  .categories-grid-box .category:hover .text-box {
    scale: 1;
    opacity: 1;
  }
}
@media screen and (max-width: 850px) {
  .categories-grid-box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .categories-grid-box::before,
  .categories-grid-box::after {
    height: 0;
    width: 0;
  }
  .categories-grid-box .category:not(.category-4) {
    border-bottom: 1px solid #33333344;
  }
}
@media screen and (max-width: 880px) {
  .about-agents-grid-box {
    grid-template-columns: 450px;
    grid-template-rows: auto;
    justify-content: center;
  }
}
@media screen and (max-width: 870px) {
  .project-inner-box {
    gap: 1rem;
    grid-template-columns: 500px;
    grid-template-rows: auto;
    justify-content: center;
  }
  .section-trust .section-heading {
    max-width: 100%;
  }
  .section-trust .desc {
    display: none !important;
  }
  .section-trust .trust-grid-box {
    gap: 40px;
  }
  .section-trust .trust-num-grid-box {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
  .section-trust .trust-number .num,
  .section-trust .trust-number span {
    font-size: clamp(2.2rem, 6vw, 3rem);
  }
  .about-us-page .about-us-grid-box {
    gap: 1.5rem;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 2.5rem;
  }
  .about-us-page .about-us-grid-box .right {
    gap: 2rem;
  }
  .about-us-page .about-us-grid-box .right .about-steps {
    margin-left: 2rem;
  }
  .section-contact .about-contact-grid {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .section-contact .about-contact-grid .contact-info {
    grid-row: 2;
  }
  .section-contact .about-contact-grid .contact-img {
    grid-row: 1;
    height: 430px;
  }
}
@media screen and (max-width: 800px) {
  .about-services .service-box .inner-box {
    grid-template-columns: auto auto;
    gap: 1rem;
  }
  .about-services .tags ul {
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .about-services .service-box {
    padding: 1.5rem 0;
  }
}
@media screen and (max-width: 733px) {
  .about-box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 32px;
    justify-content: center;
  }
  .about-box .mdl-img {
    width: 100%;
    /* height: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-box .mdl-img img {
    width: 0;
    height: 100%;
    transition: width 1s ease;
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -ms-transition: width 1s ease;
    -o-transition: width 1s ease;
  }

  .about-box .mdl-img img.revealed {
    width: 100%;
    height: 100%;
  }
  .left.direct-links {
    width: 300px;
  }
  .property-images {
    height: 500px;
  }
}
@media screen and (max-width: 667px) {
  .hero-text {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .section-hero .btm-text p {
    width: 100%;
  }
  .hero-text .text h1 {
    text-align: center;
    font-size: clamp(2rem, 7vw, 4rem);
  }
  .section-recent-projects .filter-btns {
    flex-wrap: wrap;
    justify-content: start;
  }
}
@media screen and (max-width: 640px) {
  .blog-splide .splide__slide {
    width: 100%;
    padding: max(1.1rem, 5vw);
  }
  .blog-splide .blog-card {
    width: 100%;
  }
  .blog-grid-box {
    gap: 2rem;
  }
}
@media screen and (max-width: 588px) {
  .project-inner-box {
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .hero-fixed-img .overlay .text {
    top: 50%;
    left: 0%;
  }
}
@media screen and (max-width: 568px) {
  .footer-top {
    flex-direction: column;
    gap: 32px;
  }
  .right.news-letter {
    padding-left: 0;
  }
  .left.direct-links {
    width: 100%;
  }
  .about-us-page .about-us-grid-box .right .about-steps {
    margin-left: 1rem;
    flex-wrap: wrap;
  }
  .about-us-page .about-us-grid-box .right .about-steps ul {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 555px) {
  .about-services .service-box .inner-box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .about-services .service-box .inner-box img {
    height: 270px;
  }
}
@media screen and (max-width: 520px) {
  .section-trust .trust-num-grid-box {
    grid-template-columns: 1fr;
  }
  .trust-num-grid-box .box {
    gap: 2rem;
    height: auto;
  }
}
@media screen and (max-width: 493px) {
  .about-agents-grid-box {
    grid-template-columns: 1fr;
  }
  .about-agents-grid-box .name-img-social {
    flex-direction: column;
    align-items: start;
  }
  .about-agents-grid-box .agent {
    height: 580px;
  }
}
@media screen and (max-width: 471px) {
  .section-property-details .property-description {
    flex-direction: column;
    gap: 0;
  }
  .proprty-side-details {
    flex-wrap: wrap;
  }
  .property-images {
    height: 400px;
    padding: 0 !important;
  }
}
@media screen and (max-width: 440px) {
  .section-contact .mdl .row {
    flex-direction: column;
    gap: 1rem;
    align-items: start;
  }
  .section-contact .call-now-info span {
    width: 40px;
    height: 40px;

    & i {
      font-size: 1rem;
    }
  }
}
@media screen and (max-width: 407px) {
  .hero-image .img-box {
    height: 50vh;
    /* width: 90% !important; */
  }
  .hero-image {
    height: 50vh;
  }
  .section-recent-projects .info-top {
    flex-direction: column;
  }
  .testimonial-splide .splide__slide {
    max-width: 100% !important;
  }
}
@media screen and (max-width: 380px) {
  .property-info ul {
    flex-wrap: wrap;
  }
  .about-agents-grid-box .agent {
    height: 600px;
  }
}
@media screen and (max-width: 340px) {
  .user-msg-box .user-name {
    flex-direction: column-reverse;
    justify-content: start;
    align-items: start;
    gap: 1rem;
  }
}
/***** Section *****/ /***** End Section *****/

@media screen and (min-width: 1920px) {
  .hero-image {
    height: 100dvh;
  }
  .project-inner-box .card {
    grid-template-rows: 500px 250px;
  }
}
